.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.allCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: black;
}

.topCard {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mainCard {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 50px;
  border: 1px solid black;
  margin: 3%;
  line-height: 1px;
}

.mainCard img {
  width: 80%;
}

.userCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.userCards {
  display: flex;
  justify-content: space-around;
}

.userCard {
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 1vw;
  border: 1px solid black;
  margin: 2%;
  line-height: 1px;
}

.userCard img {
  width: 70%;
}

.userCard p {
  font-size: 1.2vw;
}

.userCard h1 {
  font-size: 3vw;
}
